*{
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4b6b6;
}

button{
    margin-top: 20px;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid gray;
    cursor: pointer;
    background-color: rgb(18, 234, 18);
    color: #ffffff;
}

h1{
    font-weight: 600;
    font-size: 50px;
}