*{
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #212121;
}

img{
    height: 150px;
    width: 150px;
    transition: 0.5s;
}